.upload {
  text-align: center;
  padding: 30px;

  &__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__label {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 5px;
  }

  &__input {
    width: 250px;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;

    &--image {
      padding: 0.5rem 1rem;
    }
  }
  &__preview {
    width: 50%;
    margin: 3rem auto;
  }
  &__file {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__button {
    font-size: 1.5rem;
    width: 400px;
    margin: 0 auto;
    background-color: orange;
    padding: 0.5rem 2rem;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__confirmation {
    display: none;
    font-size: 1rem;

  }
  &__confirmation-yee{
    font-size: 2rem;
  }
  &__url {
    font-size: 2rem;
  }
  &__image-url {
    margin-left: 1rem;
  }
}