.gallery-header{
font-size: 2rem;
margin-bottom: 1rem;
margin-top: 2rem;
}

.gallery{
margin:2rem;

&__label{
width: 100%;
margin-bottom: 1rem;
}

&__form{
margin-bottom: 1.5rem ;
display: flex;
flex-wrap: wrap;
}
}
