.home-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../../assets/hackbackimage.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  height: 100vh;;

}
.home-title {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  &__header {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
h1 {
  text-align: center;
  width: 100%;
  font-size: 4rem;
  margin: 0;
}
p {
  text-align: center;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
