.nav-bar {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  background-color: burlywood;
  justify-content: space-between;
  &__logo {
    height: 100px;
  }
}

.nav-list {
  padding: 0;
  margin: 0;
  margin-right:5rem;
  align-items: center;
  display: flex;
  list-style-type: none;

  &__item {
    margin-left: 3rem;
    display: flex;
    align-items: center;
  
  }
}

.text {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}